<header class="header">
  <div class="top-bar">
    <div class="top-bar-container">
      <div class="top-contact">
        <a href="tel:+905000000000">
          <i class="fa-solid fa-phone"></i>
          +90 541 248 38 51
        </a>

        <a href="mailto:info@seymanidamenus.av.tr">
          <i class="fa-solid fa-envelope"></i>
          info@seymanidamenus.av.tr
        </a>
      </div>

      <div class="top-social">
        <a
          href="https://www.instagram.com/avseymanidamenus/"
          target="_blank"
          aria-label="Instagram"
        >
          <i class="fa-brands fa-instagram"></i>
        </a>

        <a
          href="https://www.linkedin.com/company/avseymanidamenus/"
          target="_blank"
          aria-label="LinkedIn"
        >
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="header-container">
    <!-- LOGO -->

    <a href="index.html" class="logo">
      <img
        src="assets/images/logo.png"
        alt="Av. Şeyma Nida Menüş Hukuk Bürosu"
      />

      <div class="logo-info">
        <div class="logo-name">Şeyma Nida Menüş</div>

        <div class="logo-line">
          <span></span>
          <p>SÜRME HUKUK & DANIŞMANLIK</p>
          <span></span>
        </div>
      </div>
    </a>

    <!-- NAV MENU -->

    <nav class="nav-menu">
      <a href="index.html"> Ana Sayfa </a>

      <a href="hakkimda.html"> Hakkımda </a>

      <a href="uzmanlik.html"> Uzmanlık Alanları </a>

      <a href="makaleler.html"> Makaleler </a>

      <a href="iletisim.html"> İletişim </a>
    </nav>

    <!-- MOBILE BUTTON -->

    <button class="menu-toggle" aria-label="Mobil Menü">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
</header>
